<form method="post" ng-submit="changePassword()">
	<h2>Change Password</h2>
	<div ng-show="formError.form" class="form-control-feedback p-1 mb-1  text-danger">{{formError.form}}</div>
	<div class="form-group">
		<label class="form-control-label" for="lastPassword">Current Password</label>
		<input type="password" class="form-control" id="lastPassword" name="lastPassword" ng-model="changePasswordForm.lastPassword" required/>
		<div ng-show="formError.lastPassword" class="form-control-feedback p-1 mb-1  text-danger">{{formError.lastPassword}}</div>
	</div>
	<div class="form-group">
		<label class="form-control-label" for="password">Password</label>
		<input type="password" class="form-control" id="password" name="password" ng-model="changePasswordForm.password" required/>
		<div ng-show="formError.password" class="form-control-feedback p-1 mb-1  text-danger">{{formError.password}}</div>
	</div>
	<div class="form-group">
		<label class="form-control-label" for="repeatPassword">Password Repeat</label>
		<input type="password" class="form-control" id="repeatPassword" name="repeatPassword" ng-model="changePasswordForm.repeatPassword" required/>
		<div ng-show="formError.repeatPassword" class="form-control-feedback p-1 mb-1  text-danger">{{formError.repeatPassword}}</div>
	</div>
	<button type="submit" class="btn btn-primary btn-block">Submit</button>
	<a class="btn btn-md float-left" ui-sref="root.user" ui-sref-active="active">Cancel</a>
</form>