<form method="post" ng-submit="forgotPassword()">
	<h2>Forgot Password</h2>
	<div ng-show="formError.form" class="form-control-feedback p-1 mb-1  text-danger">{{formError.form}}</div>
	<div class="form-group">
		<label class="form-control-label" for="email">Email</label>
		<input type="email" class="form-control" id="email" name="email" ng-model="forgotPasswordForm.email" required autofocus/>
		<div ng-show="formError.email" class="form-control-feedback p-1 mb-1  text-danger">{{formError.email}}</div>
	</div>
	<button type="submit" class="btn btn-primary btn-block">Submit</button>
	<a class="btn btn-md float-left" ui-sref="root.userLogin" ui-sref-active="active">Sign in</a>
</form>