<form method="post" ng-submit="userRegister()">
	<h2>Sign up</h2>
	<div ng-show="formError.form" class="form-control-feedback p-1 mb-1  text-danger">{{formError.form}}</div>
	<div class="form-group">
		<label class="form-control-label" for="email">Email</label>
		<input type="email" class="form-control" id="email" name="email" ng-model="registerForm.email" required autofocus/>
		<div ng-show="formError.email" class="form-control-feedback p-1 mb-1  text-danger">{{formError.email}}</div>
	</div>
	<div class="form-group">
		<label class="form-control-label" for="password">Password</label>
		<input type="password" class="form-control" id="password" name="password" ng-model="registerForm.password" required/>
		<div ng-show="formError.password" class="form-control-feedback p-1 mb-1  text-danger">{{formError.password}}</div>
	</div>
	<div class="form-group">
		<label class="form-control-label" for="repeatPassword">Password Repeat</label>
		<input type="password" class="form-control" id="repeatPassword" name="repeatPassword" ng-model="registerForm.repeatPassword" required/>
		<div ng-show="formError.repeatPassword" class="form-control-feedback p-1 mb-1  text-danger">{{formError.repeatPassword}}</div>
	</div>
	<div class="form-group">
		<label class="form-control-label" for="firstname">Firstname</label>
		<input type="text" class="form-control" id="firstname" name="firstname" ng-model="registerForm.firstname" required/>
		<div ng-show="formError.firstname" class="form-control-feedback p-1 mb-1  text-danger">{{formError.firstname}}</div>
	</div>
	<div class="form-group">
		<label class="form-control-label" for="lastname">Lastname</label>
		<input type="text" class="form-control" id="lastname" name="lastname" ng-model="registerForm.lastname" required/>
		<div ng-show="formError.lastname" class="form-control-feedback p-1 mb-1  text-danger">{{formError.lastname}}</div>
	</div>
	<div class="form-group">
		<label class="custom-control custom-radio">
			<input id="male" name="gender" ng-model="registerForm.gender" value="male" type="radio" class="custom-control-input">
			<span class="custom-control-indicator"></span>
			<span class="custom-control-description">Male</span>
		</label>
		<label class="custom-control custom-radio">
			<input id="female" name="gender" ng-model="registerForm.gender" value="female" type="radio" class="custom-control-input">
			<span class="custom-control-indicator"></span>
			<span class="custom-control-description">Female</span>
		</label>
	</div>
	<button type="submit" class="btn btn-primary btn-block">Submit</button>
	<a class="btn btn-md float-left" ui-sref="root.userLogin" ui-sref-active="active">Sign in</a>
</form>